@charset "utf-8";
/* CSS Document */
	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	}

	.wrapper {
		width: 900px;
		padding: 20px 40px;
		margin: 0 auto;
		border: 0px red solid;
		background: #ffffff;
		}

	body {
		  background: mediumpurple;
		  color: black;
		  line-height: 1.5;
		}

	.site-header {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  background: mediumpurple;
		  padding: 1.2rem 2rem;
		  border-radius: 8px;
		  margin-bottom: 2rem;
		}

	.brand {
	  	  display: flex;
	  	  align-items: center;
	  	  gap: 0.75rem;
		}	

	.brand h1 {
	  	  margin: 0;
		  color: white;
		}

	.brand i{
		  color: white;
		  font-size: 200%
		}

	.site-nav a {
		  color: white;
		  text-decoration: none;
		  margin-left: 1.5rem;
		  font-weight: 500;
		  transition: 0.2s;
	}

	.site-nav a:hover {
	  	color: rebeccapurple;
	}

	.nav-header{
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  border-radius: 8px;
		  padding: 1rem 2rem
	}

	.page-nav a{
		 color: dimgray;
		 text-decoration: none;
		 font-weight: 500;
		 transition: 0.2s;	
	}

	.page-nav a:hover {
	  	color: black;
	}

	
	h1 {
	  text-align: center;
	  font-size: 2.4rem;
	  margin: 2rem 0;
	  color: rebeccapurple;
	}

	h2 {
	  margin-top: 3rem;
	  margin-bottom: 1rem;
	  color: black;
	  display: inline-block;
	  padding-bottom: 0.3rem;
	}

	h3 {
	  margin: 1rem 0 0.5rem;
	  color: black;
	}

	p {
	  color: black;
		padding-bottom: 1rem;
	}
	
	p a{
		color: mediumpurple;
		text-decoration: underline;
	
	}

	a[href="#"] {
	  color: rebeccapurple;
	  text-decoration: none;
	  font-weight: 500;
	}

	a[href="#"]:hover {
	  text-decoration: underline;
	}

	  .site-header {
		flex-direction: column;
		gap: 1rem;
	  }

	div.gallery-grid{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-row-gap: 20px;
		justify-items: center;
		align-items: start;
		justify-content: space-between;
	}

	.gallery-item h3{
		margin: 0;
		line-height: 135%;
		font-size: 90%;
	}

	table i{
		color: rebeccapurple;
	}

	.key i{
		color: rebeccapurple;
	}

	.key{
		display: flex;
		align-items: left;
		gap: 0.75rem;
	}

