@charset "utf-8";
/* CSS Document */

* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: 'serif';
	}

.wrapper {
		width: 1000px;
		padding: 20px 40px;
		margin: 0 auto;
		border: 0px red solid;
		background: #ffffff;
	}

body {
		background: #06162B;
		color: black;
		line-height: 1.5;
		}

h1 {
	  text-align: center;
	  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	  font-size: 28px;
	  margin: 2rem 0;
	  color: #0F2E57;
	}

h2 {
	  margin-top: 3rem;
	  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	  margin-bottom: 1rem;
	  color: black;
	  display: inline-block;
	  padding-bottom: 0.3rem;
	}

h3 {
	  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	  margin: 1rem 0 0.5rem;
	  color: black;
	}

p {
	  color: black;
	  padding-bottom: 1rem;
	  font-size: 18px;
	}

div.gallery-grid{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-row-gap: 20px;
		justify-items: center;
		align-items: start;
		justify-content: space-between;
	}

.gallery-item h3{
		margin: 0;
		line-height: 135%;
		font-size: 90%;
	}
